{% extends 'blog/base.html'%}
{% load blog_tags %}
{% block title%}{{post.title}} {%endblock title%}

{% block content%}
    <h1>{{ post.title }}</h1>
    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>
    {{ post.body|markdown }}
    <p>
        <a href="{% url 'blog:post_share' post.id %}">
            Share this post
        </a>
    </p>
    <h2>相似的帖子： </h2>
    {% for post in similar_posts %}
        <p>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </p>
    {% empty %}
        <p>暂时没有！</p>
    {% endfor %}
    {% with comments.count  as total_comments %}
        <h2>
            {{ total_comments }} comment{{ total_comments|pluralize }}
        </h2>
    {% endwith %}

    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Comment {{ forloop.counter }} by {{ comment.name }}
                {{ comment.created }}
            </p>
                {{ comment.body|linebreaks }}
        </div>
    {% empty %}
        <p>暂时没有任何评论！</p>
    {% endfor %}

    {% if new_comment %}
        <h2>你的评论已经添加成功</h2>
    {% else %}
        <h2>发表评论：</h2>
        <form action="{{ post.get_absolute_url }}" method="post">
        {{ comment_form}}
        {% csrf_token %}
        <p>
            <input type="submit" value="发表">
        </p>
    </form>
    {% endif%}
{% endblock content %}